* {
    background-color: black;
    display: flex;
}

body, html{
    height: 100%;
    width: auto;
    border: none;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
}